@import 'media';

body {
    margin: 0;
    padding: 0;
    max-width: 100%;
}

.container {
    max-width: 960px;
    margin: 0 auto;
}

.header {

    &__top {
        background: #5b1dcd;
        padding: 15px;
    }
    &__right-box {
        float: left;
    }
    &__logo {
        text-align: center;
    }
    &__left-box {
        float: right;
    }
    &__topmenu {
        background-color: #262626;
        padding: 15px;
        margin-bottom: 16px;
        justify-content: space-between;
        align-items: center;
        &__item{
            display: flex;
        }

    }

}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    margin: 0;
}

.caption__heading_nearlest {
    text-transform: uppercase;
}

.caption__icon_link {
    cursor: pointer;
}

.white {
    color: #FFFFFF;
}

li {
    list-style: none;
}

.topmenu__link {
    color: #cccccc;
    text-transform: uppercase;
}

.breadcrumbs {
    padding-left: 39px;
    text-transform: uppercase;
    margin-bottom: 44px;
    li {
        display: inline-block;
    }
    li::before {
        content: '/';
        margin-left: 5px;
        margin-right: 5px;
        color: #b8b8b8;
    }
    li:first-child:before {
        content: '';
    }
}

.bradcrumbs__link_active {
    color: #8f8f8f;
}

.bradcrumbs__link_no-active {
    color: #cd1d2c;

}

h1 {
    font-size: 80px;
    text-transform: uppercase;
    margin-bottom: 33px;
    padding: 0;
}

.content {
    &__block {
        border-bottom: 2px solid #686868;
        margin-bottom: 91px;
    }
    &__content-home {
        text-transform: uppercase;
        margin-bottom: 69px;
    }
}
.content-home__heading_red{
    color: #cd1d2c;
}
.content__caption{
    font-size: 30px;
    font-weight: 400;
}
h2{
    margin: 0;
    padding: 0;
}

.content-home__heading {
    font-size: 48px;
}
